body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

img {
    display: block;
}

/** ========== header ==========*/

.header {
    background-color: #fff;
    border-bottom: 1px solid #E7E9FC;
}


.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}



.header-container {
    display: block;
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.header-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 76px;
    padding: 24px 76px 24px 152px;

}

.header-logo span {
    color: #2e2f42;
}

.header-menu {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.header-menu-item {
    list-style-type: none;
}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding: 24px 0;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-menu {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.address-menu-item {
    margin-right: auto;
    padding: 15px;
}

.address-menu-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.address-menu-link:hover,
.address-menu-link:focus {
    color: #404bbf;
}

/** ========== button ==========*/

.solution {}

.solution-container {
    background-color: #2e2f42;
    padding: 188px 0;
}

.solution-title {
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
}

.solution-service-btn {
    font-family: Roboto, sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
}

.solution-service-btn:hover,
.solution-service-btn:focus,
.solution-service-btn:active {
    cursor: pointer;
    background-color: #404BBF;
}

/** ====================*/

/** ========== subject ==========*/
.subject {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subject-menu {
    display: flex;
    gap: 24px;
}

.subject-menu-list {}

.subject-menu-caption {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    width: calc((100% - 72px) / 4);

}

.subject-menu-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/** ====================*/

/** ========== team ==========*/

.team {
    text-align: center;
    padding: 120px 0;
}

.team-container {
    background-color: #F4F4FD;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-title-menu {
    display: flex;
    gap: 24px;
}

.team-menu-container {
    padding: 32px 0;
}

.team-title-menu-list {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-title-menu-images {
    background-color: #FFF;
    margin-bottom: 32px;

}

.team-title-menu-name {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.team-title-menu-profecion {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    text-align: center;

}


/** ========== portfolio ==========*/

.portfolio {
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-container {}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    padding-top: 120px;
}

.portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-menu-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
    width: calc((100% - 48px) / 3);
}

.portfolio-menu-list {
    border-bottom: 1px solid #E7E9FC;
    margin-bottom: 48px;
    margin-right: 24px;
}

.portfolio-menu-image {
    padding-bottom: 32px;
    width: 360px;
    height: 300px;
}

.portfolio-menu-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-menu-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

/** ====================*/

/** ========== footer ==========*/

.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-container {}

.footer-title {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    width: 44px;
    margin-bottom: 16px;
}

.footer-title-span {
    color: #f4f4fd;
    width: 71px;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
    color: #404bbf;
}

.footer-title-text {
    max-width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/** ====================*/