body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/** ========== header ==========*/

.header {
    background-color: #fff;
}

.header-navigation {}

.header-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;

}

.header-logo span {
    color: #2e2f42;
}

.header-menu {
    list-style-type: none;
}

.header-menu-item {
    list-style-type: none;
}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
    color: #404bbf;
}

.address {}

.address-menu {
    list-style-type: none;
}

.address-menu-item {}

.address-menu-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.address-menu-link:hover,
.address-menu-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-menu {}

.address-menu-item {}

.address-menu-link {}

/** ========== button ==========*/

.solution {
    background-color: #2e2f42;
}

.solution-title {
    color: #FFF;
    background-color: #2E2F42;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.solution-service-btn {
    font-family: Roboto, sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;

}

.solution-service-btn:hover,
.solution-service-btn:focus,
.solution-service-btn:active {
    cursor: pointer;
    background: #404BBF;
    cursor: pointer;
}

/** ====================*/

/** ========== subject ==========*/
.subject {}

.subject-menu {}

.subject-menu-list {}

.subject-menu-caption {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.subject-menu-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/** ====================*/

/** ========== team ==========*/

.team {
    background-color: #F4F4FD;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-title-menu {}

.team-title-menu-list {
    background-color: #FFFFFF;
}

.team-title-menu-images {
    background-color: #FFF;
}

.team-title-menu-name {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-title-menu-profecion {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}


/** ========== portfolio ==========*/

.portfolio {
    background-color: #fff;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-menu {}

.portfolio-menu-list {}

.portfolio-menu-image {}

.portfolio-menu-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-menu-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

/** ====================*/

/** ========== footer ==========*/

.footer {
    background: #2E2F42;
}

.footer-title {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-title-span {
    color: #f4f4fd;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
    color: #404bbf;
}

.footer-title-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;

}

/** ====================*/